@model BlogWebUI.Areas.Admin.Models.AdminComboViewModel
@{
}
<script>
  
</script>
<!-- INPUTS -->
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Makale Oluştur</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("MakaleOlustur", "AdminMakale", new { area = "", @class = "form-control" }, FormMethod.Post))
        {
            @Html.ValidationSummary(true)

            @Html.TextBox("MakaleBaslik", "", new { @class = "form-control", @placeholder = "Makale Başlığı" })
            <br>
            @*@Html.DropDownListFor(x => x.Kategoriler, Model.KulId, "Kategori Seç")*@
            <input type="file" class="form-control">
            <br>

            @Html.DropDownListFor(m => m.SelectedKatId, Model.SelectedKatData, "Lütfen Bir Kategori Seçiniz", new { @class = "dropdown form-control" })

            <br>
            @*<textarea class="form-control" placeholder="Makale İçeriği" rows="10"></textarea>*@
            @Html.TextArea("MakaleIcerik", "", new { @class = "form-control", @placeholder = "Makale İçeriği", @rows = 10 })

            <br>
            <button type="submit" class="btn btn-primary btn-lg  ">Yayınla</button>

        }
    </div>
</div>
<!-- END INPUTS -->