@model BlogWebUI.Models.ReferansViewModel

@{
    ViewData["Title"] = "Privacy Policy";
}
<!-- Page Content -->
<div class="container">
    @{
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            Proje
            <small>Çalışmalarım</small>
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Anasayfa</a>
            </li>
            <li class="breadcrumb-item active">Referanslar</li>
        </ol>

        <div class="row">
            @foreach (var item in Model.Referans)
            {
                <div class="col-lg-3 mb-4">
                    <div class="card h-100 text-center">

                        <img class="card-img-top" src="~/images/ProjeFoto/@item.ProjeFoto" alt="">
                        <div class="card-body">
                            <h4 class="card-title">@item.ProjeAdi</h4>
                            <h6 class="card-subtitle mb-2 text-muted" style="font-size:12px;">@item.ProjedeKullanilanTeknolojiler</h6>
                            <p class="card-text">@item.ProjeTanim</p>

                        </div>
                        <div class="card-footer">
                            <span class="" style="font-size:12px;float:left; vertical-align:bottom;">@item.ProjeTarih</span>
                            <input class="btn btn-danger float-md-right" type="submit" value="Detay&rarr;" name="ProjeIcerikGönder" />

                        </div>
                    </div>
                </div>



            }
        </div>
        <!-- /.row -->
    }
</div>
<!-- /.container -->
